<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>layout(float)</title>
</head>
<body>
<div id="container">
    <header>
        <h1>Beloved</h1>

    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
        </ul>
    </nav>

    <section>

    </section>

    <aside>
        
    </aside>

<br />
    <footer class="clearfix">

    </footer>
</div>
</body>
</html>