
/* Page styles
===============================*/
body {
    font: normal 1.1em/1.5em sans-serif;
    color: #222;
    background-color: #edeff0;
}


* {
    box-sizing: border-box;
}

.main-logo a,
.main-nav a {
    color: white;
    display: block;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}

p {
    text-align: justify;
}

/* Layout Element Colors
===============================*/
.main-header {background-color: #110f0f;}
.main-logo   {background-color: #ff4200;}
.main-nav li {background-color: #01339b;}
.primary-content {background-color: #66cccc;}
.secondary-content {background-color: #6699cc;}
.main-footer {background-color: #cccccc;}


/* Header, Banners and Footers
===============================*/

.main-header {
    padding: 15px;
}
.main-logo {
    margin: 0 0 10px 0; 
}
.main-logo,
.main-nav li {
    border-radius: 5px;
}
.main-nav li {
    margin-top: 10px;
}
.main-footer {
    padding: 15px;
}
.main-footer p {
     text-align: center;
}
/* Column Layouts
===============================*/
.col {
    padding: 15px;
}
.extral-content,
.main-banner {
    display: none;
}


/* Imagery
===============================*/
.feat-img {
    width: 100%
}

/* Clearfix
===============================*/


/* Media Queries
===============================*/

@media screen and (min-width: 769px) {

/* Header, Banners and Footers
===============================*/

.main-logo,
.main-nav li {
       float: left;
}
.main-logo {
    margin-right: 50px;
}

.main-nav li {
    margin-right: 10px;
    margin-top: 0;
}
.main-banner h1, p {
    text-align: center;
}
.main-banner {
    background: #bebdbe;
    padding: 20px;
}



/* Column Layouts
===============================*/

.col {
    width: 30%;
    float: left;
}
.primary-content {
width: 40%;
}
.extral-content,
.main-banner {
display: block; /* Unhide from mobile view*/
}
.col:last-child {
    float: right;
}


/* Imagery
===============================*/
.feat-img {
    float: left;
    width: 60%;
    margin: 10px 25px 10px 0;
    border: solid 1px;
    padding: 5px;
}

/* Clearfix
===============================*/

.group::after {
    content: "";
    display: table;
    clear: both;
}

}