<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
     <link rel="stylesheet" href="file:///C:/Users/Beloved/Documents/programming/Icons/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/icon.css">
     <link rel="stylesheet" href="css/all.css">
</head>
<body>
<div class="main-wrapper">
    <header class="main-header group">
        <ul class="main-nav">
          <li><h1 class="main-logo"><a href="#">LOGO</a></h1></li>
          <li><a href="#"><span class="icon fi-home"></span></i>Home</a></li>
          <li><a href="#"><span class="icon fi-torsos"></span>About</a></li>
          <li><a href="#"><span class="icon fi-comments"></span>Blog</a></li>
          <li><a href="#"><span class="icon fi-address-book"></span>Contact</a></li>
        </ul>
    </header>
<div class="main-banner">
    <h1>This is our main heading</h1>
    <p>stretching attack your ankles chase the red dot,hairball run</p>
</div>
<div class="column-row group">
<section class="extral-content col">
    <h3>Extral Content</h3>
   <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
     your ankles chase the red dot,hairball run catnip eat the grass sniff.</p>
   <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
    stretching attack your ankles chase the red dot,hairball run</p>
    <hr />
   <p>catnip eat the grass sniff.Kitty ipsum dolor sit amet, shed
    the red dot,hairball run catnip eat the grass sniff</p>
</section>
<section class="primary-content col">
    <h2>Primary Content</h2>
    <img class="feat-img" src="img/1.jpeg"/>
       <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
        stretching attack your ankles chase the red dot,hairball run
        catnip eat the grass sniff.Kitty ipsum dolor sit amet, shed
        Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
        stretching attack your ankles chase the red dot,hairball run
        catnip eat the grass sniff.Kitty ipsum dolor sit amet, shed
        everywhere shed everywhere stretching attack your ankles chase
        the red dot,hairball run catnip eat the grass sniff. </p>
       <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
    stretching attack your ankles chase the red dot,hairball run
    catnip eat the grass sniff.Kitty ipsum dolor sit amet, shed
    everywhere shed everywhere stretching attack your ankles chase
    the red dot,hairball run catnip eat the grass sniff</p>
   
</section>
<section class="secondary-content col">
    <h3>Secondary Content</h3>
   <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
     your ankles chase the red dot,hairball run catnip eat the grass sniff.</p>
   <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere 
    stretching attack your ankles chase the red dot,hairball run
    catnip eat the grass sniff.Kitty ipsum dolor sit amet, shed</p>
    <hr />
   <p>everywhere shed everywhere stretching attack your ankles chase
    the red dot,hairball run catnip eat the grass sniff
    Kitty ipsum dolor sit amet shedeverywhere shed everywhere stretching attack your ankles chase
    the red dot,hairball run catnip eat the grass sniff</p>
</section>
</div>
<footer class="main-footer">
    <p>Copyright &copy;Beloved 2020. All rights reserved.</p>
    <a href="#"><span class="footer-icon fi-social-facebook"></span>facebook</a>
</footer>
</div>
</body>
</html>