* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
    }
    
    header {
    background: #bbb;
    line-height: 70px;
    text-align: center;
    font-size: 2em;
    }
    
    nav {
    background: #333;
    overflow: hidden;
    
    }
    
    nav li {
        float: left;
    }
    
    nav ul li a {
        display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    
    }

section {
    padding: 20px;
    background: #ccc;
    text-align: justify;
    height: 100vh;
}

    .column {
        width: 40%;
        float: left;
        
    }

    .column-side {
        width: 20%;
        float: left;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }


    footer {
    background: #333;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    color: white;
    }

    @media screen and (max-width:600px) {
        .column, .column-side {
            width: 100%;
            margin: 0;
        }
    }