.nav, .main {
    display: -webkit-flex;
}

.nav {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
}

.nav li {
-webkit-flex-grow: 1;
}

.col {
    -webkit-flex: 1;
    align-content: flex-end;
}

@media screen and (max-width:900px) {
    .main {
        -webkit-flex-direction: column;
    }
}
