<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css" type="text/css">
   <link rel="stylesheet" href="flexbox.css" type="text/css">
    <title>flexbox</title>
</head>
<body>

            <ul class="nav">
                <li><a href="#" class="active">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>

            <div class="main">

                <div class="col-1">
                <h2>Column A</h2>
                <p>Kitty ipsum dolor sit amet, shed everywhere shed 
                    everywhere stretching attack your ankles chase the red dot,
                     hairball run catnip eat the grass sniff.
                    Kitty ipsum dolor sit amet, shed everywhere shed 
                    everywhere stretching attack your ankles chase the red dot,
                     hairball run catnip eat the grass sniff.</p>
                   <p>  Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
 hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
 hairball run catnip eat the grass sniff.
 Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
 hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
 hairball run catnip eat the grass sniff.</p>
 <p>  Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.
    Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.
     Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.
    Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.</p>
</div>
 
 <div class="col-2">
 <h2>Column B</h2>
 <p>Kitty ipsum dolor sit amet, shed everywhere shed 
     everywhere stretching attack your ankles chase the red dot,
      hairball run catnip eat the grass sniff.
     Kitty ipsum dolor sit amet, shed everywhere shed 
     everywhere stretching attack your ankles chase the red dot,
      hairball run catnip eat the grass sniff.</p>
      <p> Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.</p>
</div>

<div class="col-3">
<h2>Column C</h2>
<p>Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.
    Kitty ipsum dolor sit amet, shed everywhere shed 
    everywhere stretching attack your ankles chase the red dot,
     hairball run catnip eat the grass sniff.</p>
     <p> Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.
Kitty ipsum dolor sit amet, shed everywhere shed 
everywhere stretching attack your ankles chase the red dot,
hairball run catnip eat the grass sniff.</p>

</div>
</div>     
</body>
</html>